@import'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing:antialised;
}

.download{
    position: relative;
    top: 215px;
    right: 485px;
}

header{
    background:#161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%, 0% 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a
{
    color: var(--pure);
    text-decoration: none;
    margin-right: 3rem;
    text-transform: uppercase;
}

header nav .left a:hover{
    color: yellow;
    transition: all .3s ease;
}

header nav{
    padding: 2rem 0;
}

header nav .logo{
    margin-right: 5rem;
}

.hero .left img{
     width: 400px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.8rem;
}

.hero .right h1{
font-size: 4.1rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.5;
    margin-bottom: 2rem;
}

section{
    padding: 6rem 0;
}

.about img{
    width: 356px;
    height: 450px;
    position: relative;
    left: 135px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 300;
}

section.about h1 span{
    color:var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(000, 000, 000);
    line-height: 1.6rem;
}

.section-heading
{
	color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-heading + p{
    color: var(--dark);
    font-family: sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}

section.skills .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}

section.skills{
    background-color: dimgrey;
}

section.skills .card-wrapper .card{
    background: var(--pure);
    padding: 2rem 1rem;
    position: relative;
    padding-top: 2rem;
    text-align: center;
    transition: all .3s ease;

}

section.skills .card-wrapper .card img{
   position:absolute;
   top: -3.5rem;
   left: 50%;
   transform: translateX(-50%);
}

section.skills .card-wrapper .card h2{
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

section.skills .card-wrapper .card p{
    font-family: sans-serif;
    color:var(--ternary);
    line-height: 1.3;
}

section.skills .card-wrapper .card:hover{
    background: var(--dark);
}

section.skills .card-wrapper .card:hover h2, section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}

section.projects{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 67% 70%, 0% 100%);
    padding-bottom: 10rem;
}

section.projects h1{
    font-size: 3rem;
    margin-bottom: 0.7rem;
    font-family:monospace;
}

section.projects p{
    margin-bottom: 2rem;
    font-family: sans-serif;
}

section.projects a{
    color: #FFFFFF;
}

section.certificates h1{
    color:var(--dark);
    text-align: center;
    font-family:monospace;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

section.certificates{
    background:var(--ternary);
}

section.certificates .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;

}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns:repeat(4,1fr);
     
}

section.contact .card-wrapper .card{
    position: relative;
    top: 60px;
    left: 390px;
}

section.contact .card-wrapper .card img{
     margin-bottom: 1rem;
     position: relative;
     right: 60px;
}

section.contact .card-wrapper .card h6{
    margin-bottom: 1rem;
    position: relative;
    right: 100px;
    font-size:x-large;
    font-family: monospace;
}

section.contact .card-wrapper .card h3{
    margin-bottom: 1rem;
    position: relative;
    right: 50px;
    
}

section.contact .card-wrapper .card1 img{
    margin-bottom: 1rem;
    position: relative;
    left: 450px;
    top: 55px;
}

section.contact .card-wrapper .card1 h2{
    margin-bottom: 1rem;
    position: relative;
    left: 440px;
    top: 55px;
}


section.contact .card-wrapper .card1 h6{
    margin-bottom: 1rem;
    position: relative;
    left: 360px;
    top: 55px;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif
}

section.contact .card-wrapper .card h2{
    font-weight: 500;
    margin-bottom: 0.5rem;
    position: relative;
    left: 25px;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    grid-gap: 3rem;
    margin-bottom: 1.5rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 1.5rem;
    border: 1px solid var(--ternary);
    font-size: 0.9rem;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--ternary);
    font-size: 0.9rem;
}
 
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--ternary);
    font-size: 0.9rem;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{
    background-color:var(--dark);
    text-align: center;
    padding: 4rem 0;
}

footer .footer-logo{
    margin-bottom: 2rem;
}

footer .footer-social a{
    margin-right: 1rem;
}

footer .copyright{
    color: var(--ternary);
    margin-top: 3rem;
    font-family: monospace;
    font-size:x-large;
}

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index:11;
    background: none;
    border: none;
    cursor: pointer;
}

.hamberger img{
    width: 28px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    line-height: 32px;
    padding: 2rem;
    font-family:monospace;
    padding-top: 4rem;
    transform: translateX(-100%);
    transition: all .6s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    background: none;
    border: none;
    top: 30px;
    right: 30px;
    outline: none;
    cursor: pointer; 
}

.times img{
    width: 28px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
     color: var(--secondary);
     text-decoration: none;
     font-size: 1rem;
}

.mobile-nav img{
    padding: 5px;
    margin-top: 5px;
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    .hero .left img{
    width: 258px;
    }

    .hero .left h1{
        font-size: 2rem;
    }

    .hero{
        padding-top: 10rem;
    }

    section.about .about-me-img{
        height: 360px;
    }

    section.skills .card-wrapper{
        grid-template-columns: (2, 1fr);
    }
   
    section.certificates .card-wrapper{
        grid-template-columns: (2, 1fr);
    }

}

@media (max-width:576px){
    .hero{
        flex-direction: column;
    }

    .hero .right{
        position:absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    
    .hero .left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 4rem;
    }

    .about-inner-wrap{
        flex-direction: column;
    }

    .about .right{
        text-align: center;
        margin-top: 2rem;
    }

    section .skills .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    section .projects h1{
        line-height: 1.3;
    }

    section .projects{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 67% 90%, 0% 100%);
        padding-bottom: 8rem;
    }

    section.certificates .card-wrapper{
        grid-template-columns: repeat(1 ,1fr);
    }

    section.contact .card-wrapper{
        grid-template-columns: repeat(1 ,1fr);
    }

    section.contact .input-wrap{
        grid-template-columns: repeat(1 ,1fr);
    }
}      

