.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    font-weight: 550;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
    transition: all .3s ease;
}

.btn-secondary{
    color: var(--primary);
    border-color:var(--primary);
}

.btn-secondary:hover{
    background: transparent;
    color: var(--pure);
    transition: all .3s ease;
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}